
@{
    ViewBag.Title = "SuccessMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Success Message</li>
    </ol>
</div>
<br />

